/**{
  border: 1px solid blue;
}*/

.container{
display: flex;

}

body{
  background: #lightgreen;
}

/*.intro-container,.image-container{
  padding: 2em;
  padding-top: 10%;
}*/

.navbar-brand{
  font-family: 'Candal', sans-serif;
  font-size: 2em;
  color: darkblue;
}
h1{
  padding-top: .40em;
  padding-bottom: 1em;
  font-size: 3em;
}
/*
.sign-in{
  padding-top: 1em;
}*/
/*
.sign-in>input{
  opacity: 0.7;
}*/

img{
  text-align: center;
  border-radius: 10px;
}

#footer {
   position:fixed;
   bottom:0;
   width:100%;
   text-align:center;
}

a{
  text-decoration: none;
  color: darkblue;

}

a:hover{
  text-decoration: none;
  cursor: pointer;
  color: darkblue;
}

nav,footer{
  background: lavender;
}
